.lead__title {
  margin: 0 auto;
  width: 720px;
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
}

@media all and (max-width: 730px) {
  .lead__title {
    font-size: 70px;
    line-height: 1.1;
    width: min-content;
  }
}

@media all and (max-width: 480px) {
  .lead__title {
    font-size: 40px;
    width: 288px;
  }
}