.intro {
  margin: 0 auto 92px;
  width: calc(100% - 296px);
}

@media all and (max-width: 1187px) {
  .intro {
    width: calc(100% - 96px);
  }
}

@media all and (max-width: 870px) {
  .intro {
    width: calc(100% - 48px);
    margin-bottom: 88px;
  }
}

@media all and (max-width: 480px) {
  .intro {
    width: calc(100% - 32px);
    margin-bottom: 64px;
  }
}