.cover {
  margin: 0 auto;
  padding: 20% 0;
  width: calc(100% - 96px);
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: url(../../../images/cover-trains.jpg);
}

@media all and (max-width: 1187px) {
  .cover {
    width: 100%;
  }
}