.cover__title {
  position: relative;
  margin: 0 auto;
  z-index: 2;
  width: 560px;
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
}

@media all and (max-width: 740px) {
  .cover__title {
    font-size: 50px;
    line-height: 1.1;
    width: minmax(min-content, 560px);
  }
}

@media all and (max-width: 580px) {
  .cover__title {
    width: 250px;
    font-size: 32px;
    line-height: 1.09;
  }
}