.footer {
  width: calc(100% - 96px);
  margin: 92px auto 0;
  display: flex;
  justify-content: space-between;
}

@media all and (max-width: 870px) {
  .footer {
    margin-top: 88px;
    width: calc(100% - 48px);
  }
}

@media all and (max-width: 720px) {
  .footer {
    flex-direction: column;
    margin-top: 64px;
  }
}

@media all and (max-width: 480px) {
  .footer {
    width: calc(100% - 32px);
  }
}